body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.anime-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.anime-item {
    margin: 15px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius:5%;
}

.anime-item img {
    width: 100%;
}

 footer {
      border-top: 2px solid #333;
      padding: 10px;
      text-align: center;
      background-color: #2f3030;
      height:10vh;
 margin-top:20vh;   
    }
